OPENAI_API_KEY=xai-61T8tCt9E5A23f2hf6LfxsoJF5uMDMiqjuw3V6tqZYgd0OgAW1GMPK38tixncvfj8T8Q08yLOItYWOkk
BASE_URL=https://api.openai.com/v1/
MODEL=gpt-4o-mini
PYANOTE_TOKEN=hf-xxxx
CF_TURN_KEY=4753320eb0857a986ee60ad25639537d
USERNAME=admin

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_API_SECRET=
TWILIO_PHONE_NUMBER= #E.164 format
NGROK_AUTHTOKEN=
