torch==2.2.0
torchaudio==2.2.0
openai
ollama
#llama-cpp-python
faster-whisper
ctranslate2==4.4.0
vllm==0.8.5.post1; sys_platform == "linux"
nltk==3.9.1
#quickly converts streamed text into sentences for real-time synthesis
stream2sentence==0.3.0
pypinyin
huggingface
huggingface_hub>=0.19.4
funasr
python-multipart
soundfile
uvloop
aiofiles
webrtcvad
python-dotenv
edge-tts
gTTS==2.5.4
coqui-tts==0.26.0
elevenlabs==1.58.1
pydub
pyaudio
onnx
onnxruntime>=1.15.1
onnxconverter_common
numpy>=1.24.3
pyloudnorm
speechbrain==1.0.0
pyannote.audio==3.1
asyncio==3.4.3
sentence-transformers==2.7.0
transformers>=4.48.0
deepspeed==0.16.7
langid
PyPDF2
deepfilternet
fastapi
uvicorn[standard]
aiortc
av
aiohttp
resampy
noisereduce
streamlit
streamlit-webrtc
gdown
requests
twilio==9.3.2
ngrok>=1.5.0
kokoro>=0.9.4
misaki[zh]>=0.9.4
